## Â¿Que es pandas?

Pandas es una libreria de Python, especializada en el manejo y analisis de estructuras de datos. Nos ayuda a manipilar, modelar, analizar y preparar los datos.

## Caracteristicas 
- Leer y escribir facilmente ficheros en formato csv, excel y bases de datos SQL. 
- Permite acceder a los datos mediante indices o nombres para filas y columnas
- Ofrece metodos para reordenar, dividir y combinar un conjunto de datos.

# Como se instala Pandas

In [1]:
import pandas as pd

In [2]:
# comprobar si funciona pandas o no 
datos = {
    "Nombre": ["Ana", "Luis", "Pedro"],
    "Edad": [23, 30, 27]
}

df = pd.DataFrame(datos)

print(df)

  Nombre  Edad
0    Ana    23
1   Luis    30
2  Pedro    27

# Series

Es un arreglo unidimensional que puede contener datos de cualquier tipo como `enteros, flotantes, cadenas de texto, etc` y tiene un indice asocido. Lo que facilita la manipulacion y el acceso a los datos.

In [3]:
# crear una lista 

edad = [30,40,50]

In [4]:
# convertirla a serie 
serie = pd.Series(edad)

In [5]:
# mostrar resultado 
serie

0    30
1    40
2    50
dtype: int64

In [6]:
serie [1]

np.int64(40)

In [7]:
# cambiar indices 
serie  = pd.Series(edad, index = ["Alex", "John", "Maria"])

In [8]:
serie

Alex     30
John     40
Maria    50
dtype: int64

In [9]:
serie ["Alex"]

np.int64(30)

### Ejemplo 2

In [10]:
naranjas = pd.Series([1,4,9,2,6,10,200])
print(naranjas)

0      1
1      4
2      9
3      2
4      6
5     10
6    200
dtype: int64

In [11]:
type (naranjas)

pandas.core.series.Series

In [24]:
naranjas = pd.Series([1,4,9,2,6,10,200], index = ["Marco", "Ana", "Juan", "Pedro", "Estela", "Ivan","Luis"])
print (naranjas)

Marco       1
Ana         4
Juan        9
Pedro       2
Estela      6
Ivan       10
Luis      200
dtype: int64

### Creacion de una serie apartir de un diccionario

In [26]:
materias = pd.Series({'Matematicas':60, 'Fisica':100, 'Quimica':78})

In [27]:
print(materias)

Matematicas     60
Fisica         100
Quimica         78
dtype: int64

# Propiedades de una serie 
Cuentan con 3 propiedades que son fundamentales:
- .size = Devuelve el numero de elementos de la serie 
- .index = Devuelve una lista con los nombres de las filas del dataframe 
- .dtype = devuelve el tipo de datos de los elementos de la serie

In [29]:
# ejemplo 1 
numeros = pd.Series([1,2,3,4,5,6,7,8,9])
numeros.size

9

In [30]:
numeros = pd.Series([1,2,3,4,5,6,7,8,9])
numeros.index

RangeIndex(start=0, stop=9, step=1)

In [31]:
numeros = pd.Series([1,2,3,4,5,6,7,8,9])
numeros.dtype

dtype('int64')

# Acceso a una serie

In [32]:
# ejemplo 
colores = pd.Series(['rojo', 'azul', ' amarillo', 'verde', 'morado'])
colores [1:2]

1    azul
dtype: object

In [35]:
# ejemplo 2
materias = pd.Series({'matematicas': 60, 'fisica': 100, 'quimica': 78})
materias [['fisica', 'quimica']]

fisica     100
quimica     78
dtype: int64

# Operaciones

In [ ]:
# ejemplo 1 
numeros = pd.Series ([1,2,3,4,5,6])
numeros * 2

0     2
1     4
2     6
3     8
4    10
5    12
dtype: int64

# Funciones de la serie

In [22]:
numeros = pd.Series([1,2,3,4,5,6,7,8,9])
numeros.sum()

np.int64(45)

In [23]:
numeros = pd.Series([1,2,3,4,5,6,7,8,9])
numeros.max()

np.int64(9)

In [24]:
numeros = pd.Series([1,2,3,4,5,6,7,8,9])
numeros.min()

np.int64(1)

In [25]:
numeros = pd.Series([1,2,3,4,5,6,7,8,9])
numeros.std()

np.float64(2.7386127875258306)

In [26]:
numeros = pd.Series([1,2,3,4,5,6,7,8,9])
numeros.describe()

count    9.000000
mean     5.000000
std      2.738613
min      1.000000
25%      3.000000
50%      5.000000
75%      7.000000
max      9.000000
dtype: float64

In [30]:
# ejemplo 1
serie = pd.Series({'MATE':8, 'ECONOMIA':6, 'PROGRAMACION':10,'FISICA':5})

In [31]:
print(serie[serie > 6])

MATE             8
PROGRAMACION    10
dtype: int64

In [32]:
print(serie.sort_values)

<bound method Series.sort_values of MATE             8
ECONOMIA         6
PROGRAMACION    10
FISICA           5
dtype: int64>

In [35]:
print(serie.sort_index(ascending=True))

ECONOMIA         6
FISICA           5
MATE             8
PROGRAMACION    10
dtype: int64

In [36]:
print(serie.sort_values(ascending=False))

PROGRAMACION    10
MATE             8
ECONOMIA         6
FISICA           5
dtype: int64

### Crear una serie apartir de un valor escalar

In [38]:
data = 6
serie = pd.Series(data, index=[0,1,2,3,4,5])
print(serie)

0    6
1    6
2    6
3    6
4    6
5    6
dtype: int64

## Serie con un indice definido

In [39]:
data_list = ['Mesi', 'Cristiano Ronaldo', 'Benzema']
indices = ['PSG', 'Manchester Unisted',' Real Madrid']
futbool = pd.Series (index = indices, data = data_list)
print (futbool)

PSG                                Mesi
Manchester Unisted    Cristiano Ronaldo
 Real Madrid                    Benzema
dtype: object

## Dataframe

Referencias 
data = diccionario 
index = filas
columns = colummnas

In [3]:
data = {'NOMBRE': ['Mario', 'Jose', 'David', 'Ivan'],
        'CARRERA': ['Auditoria','Informatica', 'Derecho','Idiomas'],
        'CORREO': ['maria@gmail.com', 'jose@gmail.com', 'david@gmail.com','ivan@gmail.com']}
estudiantes = pd.DataFrame(data)
print(estudiantes)

  NOMBRE      CARRERA           CORREO
0  Mario    Auditoria  maria@gmail.com
1   Jose  Informatica   jose@gmail.com
2  David      Derecho  david@gmail.com
3   Ivan      Idiomas   ivan@gmail.com

### Dataframe apartir de una lista

In [9]:
df = pd.DataFrame([['Mario',27],['david',34],['ana',18],['jose',17]], 
                   columns = ['nombre','edad'])
print(df)

  nombre  edad
0  Mario    27
1  david    34
2    ana    18
3   jose    17

In [10]:
# generar un datframe apartir de un arrive 
import pandas as pd 
import numpy as np 
df = pd.DataFrame(np.random.randn(4,3), columns= ['a','b','c'])
print (df)

          a         b         c
0  0.203669  0.141632 -0.271319
1  1.454834 -0.917605 -1.376806
2  1.434392  1.157101 -0.586934
3 -0.994059  0.143085 -0.753332

### Importar un csv

In [15]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [18]:
df_netflix = pd.read_csv("C:/Users/jeonm/Downloads/netflix_titles.csv")

In [19]:
# Mostrar las primeras filas del DataFrame
print("Primeras filas del DataFrame:")
df_netflix.head()

Primeras filas del DataFrame:

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [20]:
print("Ultimas filas del DataFrame:")
df_netflix.tail()

Ultimas filas del DataFrame:

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

### Ordenar valores por sort_Values

In [1]:
import pandas as pd

datos = {
    "Nombre": ["Ana", "Luis", "Pedro", "Marta"],
    "Edad": [22, 25, 23, 24]
}

df = pd.DataFrame(datos)

# Ordenar de menor a mayor edad
df_ordenado = df.sort_values(by="Edad")
print(df_ordenado)

  Nombre  Edad
0    Ana    22
2  Pedro    23
3  Marta    24
1   Luis    25

# Orden descendente (de mayor a menor)

In [2]:
df.sort_values(by="Edad", ascending=False)

  Nombre  Edad
1   Luis    25
3  Marta    24
2  Pedro    23
0    Ana    22

# Orden por varias columnas (por ejemplo, edad y luego nombre)

In [3]:
df.sort_values(by=["Edad", "Nombre"])

  Nombre  Edad
0    Ana    22
2  Pedro    23
3  Marta    24
1   Luis    25

# Agrupacion de datos . `groupby()`

In [4]:
datos = {
    "Vendedor": ["Ana", "Luis", "Ana", "Luis", "Pedro"],
    "Ventas": [100, 200, 150, 300, 400]
}

df = pd.DataFrame(datos)

# Agrupar por vendedor y sumar las ventas
df_group = df.groupby("Vendedor")["Ventas"].sum()
print(df_group)

Vendedor
Ana      250
Luis     500
Pedro    400
Name: Ventas, dtype: int64

# Funciones mas usadas 
- sum ()  Suma los valores 
- mean () calcula el promedio 
- max () busca el valor maximo 
- min () busca el valor minimo 
- count () cuenta cuantas veces aparece

## Funcion `.agg()`

In [5]:
df.groupby("Vendedor")["Ventas"].agg(["sum", "max", "min", "count"])

          sum  max  min  count
Vendedor
Ana       250  150  100      2
Luis      500  300  200      2
Pedro     400  400  400      1

In [6]:
#  Ejemplo combinado: orden + agrupaciÃ³n
datos = {
    "Vendedor": ["Ana", "Luis", "Ana", "Luis", "Pedro", "Pedro"],
    "Ventas": [100, 200, 150, 300, 400, 50]
}

df = pd.DataFrame(datos)

# Agrupar por vendedor y sumar ventas
resumen = df.groupby("Vendedor")["Ventas"].agg(["sum", "count", "max"])

# Ordenar de mayor a menor segÃºn total de ventas
resumen_ordenado = resumen.sort_values(by="sum", ascending=False)

print(resumen_ordenado)

          sum  count  max
Vendedor
Luis      500      2  300
Pedro     450      2  400
Ana       250      2  150